- provide(:page_title, "Home")
.row
  .col-md-12
    #da-slider.da-slider
      .da-slide
        %h2 TAGcoin
        %p A cryptographic coin specifically created with the rewards market in mind. A coin that in itself will earn rewards.
        .da-img= image_tag("parallax/1.png", :alt => "image01")
      .da-slide
        %h2 Created by Tagbond
        %p Created by Tagbond, the rewards site where you can search for great deals and earn rewards, including Tagcoin
        .da-img= image_tag("parallax/2.png", :alt => "image02")
      .da-slide
        %h2 Flexible
        %p Earn it, spend it, save it, trade it.
        .da-img= image_tag("parallax/3.png", :alt => "image03")
      .da-slide
        %h2 Earn TAG today
        %p Look for websites and merchants offering TAG.
        .da-img= image_tag("parallax/4.png", :alt => "image04")
      %nav.da-arrows
        %span.da-arrows-prev
        %span.da-arrows-next
    .bor
    .main-content
      .row
        .col-md-7
          %h2 The World's First Rewards Coin
          %p.main-meta with a market ready to accept it
          %p TagCoin is the world's first universal rewards coin. It is a cryptocurrency that merges the best out of rewards and real cash programs. It is two sides of one coin: a loyalty program used to generate engagement, and a medium of exchange for products/services. With an ecosystem ready to make use of the coin, it offers both users and merchants a more flexible, effective and easier way to engage with each other.
        .col-md-5
          .main-box
            %h4 Features
            %p TagCoin will be the primary currency used within Tagbond and TagCash. It is designed with the following objectives in mind:
            %ul
              %li Fairness - Difficulty will start out at a reasonable value so no one can get an unfair advantage
              %li Sustainability - Parameters have been chosen such that TagCoin can survive well into the future
              %li Services - Tagbond and TagCash are just the start of the ecosystem that will we be building around TagCoin
              %li Transparency - Open Conversation and discussion with the founders and staff within Tagbond
%br/
%br/
%br/
.row
  = link_to("/downloads/tagcoin-qt.zip") do
    .col-md-3.col-sm-6
      .afeature
        .afmatter
          %i.icon-windows8
          %h4 Windows Client
  = link_to("/downloads/TagCoin-Mac.zip") do
    .col-md-3.col-sm-6
      .afeature
        .afmatter
          %i.icon-apple
          %br/
          %br/
          %h4 Mac OSX Client
  = link_to("/downloads/tagcoin-qt-ubuntu.zip") do
    .col-md-3.col-sm-6
      .afeature
        .afmatter
          %i.icon-tux
          %br/
          %br/
          %h4 Ubuntu Client
  = link_to(sourcecode_path) do
    .col-md-3.col-sm-6
      .afeature
        .afmatter
          %i.icon-github
          %br/
          %br/
          %h4 Source Code
:javascript
  $(function(){
      $('#da-slider').cslider({
          autoplay : true,
          interval : 6000
      });
  });
