/ Title
%title Service Page - TagCash
<?php include 'header.php'; ?>
/ Content strats
.content
  .container
    .row
      .col-md-12
        / Service starts
        .servic
          .row
            .col-md-12
              / Service hero
              .hero
                / Title. Don't forget the <span> tag
                %h3
                  %span Service
                / para
                %p Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
              / Service
              / Service list. Note down the class name before editing.
              .row
                .col-md-6
                  / Service 1. Class name - "serv-a"
                  .serv-a
                    .serv
                      .simg
                        / Font awesome icon.
                        %i.icon-gift
                      / Service title
                      %h4 Source Code (zip)
                      / Service para
                      %p Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, tellus magna nec enim. Nunc dapibus varius interdum.
                      %button.btn.btn-danger Download
                      %br/
                  / Service 2. Class name - "serv-b"
                  .serv-b
                    .serv
                      .simg
                        %i.icon-home
                      %h4 Source Code
                      %p Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, tellus magna nec enim. Nunc dapibus varius interdum.
                      %button.btn.btn-danger GitHub
                  .clearfix
                .col-md-6
                  / Service 3. Class name - "serv-a"
                  .serv-a
                    .serv
                      .simg
                        %i.icon-bullhorn
                      %h4 QT Format
                      %p Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, tellus magna nec enim. Nunc dapibus varius interdum.
                      %button.btn.btn-danger GitHub
                  / Service 4. Class name - "serv-b"
                  .serv-b
                    .serv
                      .simg
                        %i.icon-cloud
                      %h4 TagCoin Wallet (Beta)
                      %p Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, tellus magna nec enim. Nunc dapibus varius interdum.
                      %button.btn.btn-danger Download
                  .clearfix
