@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-windows8:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-apple:before {
	content: "\e602";
}
.icon-tux:before {
	content: "\e603";
}
.icon-paypal:before {
	content: "\e604";
}
