/* Red Color CSS */

body{
border-top:3px solid #BE1622;
}

.color{
color:#BE1622;
}

a, a:visited{
color:#BE1622;
}

a:hover{
color:#d01216;
}

.navbar{
background: #BE1622 !important;
border-top:1px solid #d01216 !important;
border-bottom:1px solid #d01216 !important; 
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #d71317;
}

.navbar button{
background:#d01216 !important;  
}

.navbar button:hover{
background:#d01216 !important;
}

.navbar .nav{
border-right:1px solid #d71317;
}

.navbar .nav > li > a{
background: #BE1622; 
border-left:1px solid #d71317;
}

.navbar .nav > li > a:hover{
background:#d01216 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #d01216 !important;
}

.dropdown-toggle{
background: #BE1622 !important;
}


.dropdown-menu{
background:#BE1622 !important;
border:1px solid #d01216;
}

.dropdown-menu a{
background:#BE1622 !important;
border-bottom:1px solid #d01216;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
background:#d01216 !important;
}

.social i{
background:#BE1622;
}

.social i:hover{
background:#d01216;
}

.flex-caption{
border-left:4px solid #BE1622;
}

.service i{
color:#BE1622;
}

/* Timeline */

.time .tidate{
background:#BE1622;
}

.time .timatter{
border-bottom:2px solid #BE1622;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#BE1622;
}

/* Slider */

.da-slider{
border-top: 4px solid #BE1622;
border-bottom: 4px solid #BE1622;
}

.da-slide h2{
color:#BE1622;
}

.da-slide .da-link{
background:#BE1622;
}

/* Testimonial */

.test{
border-bottom:2px solid #BE1622;
}

.test-arrow{
border-top-color: #BE1622;
}

/* Feature alt */

.afeature:hover{
border:5px solid #BE1622;
}

.afmatter i{
color:#BE1622;
}


.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #BE1622;
}

.accordion-heading i{
color:#BE1622;
}

.process i{
color:#BE1622;
}

.process-meta span{
background:#BE1622;
}

.feat h4 i{
color:#BE1622;
}

.content ul li{
background-image:url('list-r.png');
}

.blog .meta i{
color:#BE1622;
}

.posts .tags a{
background:#BE1622;
border:1px solid #d01216;
border-bottom:3px solid #d01216;
}

.posts .tags a:hover{
border-bottom:3px solid #BE1622;
background:#d01216;
border:1px solid #d01216;
}

.paging a:hover{
background: #BE1622;
border:1px solid #d01216;
}

.paging .current{
background: #BE1622;
border:1px solid #d01216;
}

.serv .simg i{
color:#BE1622;
}

.button a, .button a:visited{
background:#BE1622;
border-bottom:2px solid #d01216;
}

.button a:hover{
background:#d01216;
}

.pricel .phead-top{
background:#BE1622;
border:1px solid #d01216;
}

.pricel .phead-bottom{
border-top:1px solid #d01216;
}

.nav-tabs > li > a:hover{
background:#BE1622;
}

.about .asocial i{
background:#BE1622;
}

.resume h4{
background:#BE1622;
}

.resume h5{
color:#BE1622;
}

footer{
border-top:3px solid #BE1622;
}

footer ul li{
background-image:url('list-r.png');
}
