.navbar.bs-docs-nav{:role => "banner"}
  .container
    /
      <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      <li><haml:loud> link_to(&amp;#39;Technical&amp;#39;, techspecs_path) </haml:loud></li>
      <li><haml:loud> link_to(&amp;#39;Uses&amp;#39;, &amp;#39;#&amp;#39;) </haml:loud></li>
      <li><haml:loud> link_to(&amp;#39;Apps&amp;#39;, &amp;#39;#&amp;#39;) </haml:loud></li>
      <li><haml:loud> link_to(&amp;#39;Merchants&amp;#39;, &amp;#39;#&amp;#39;) </haml:loud></li>
      <li><haml:loud> link_to(&amp;#39;Tagverts&amp;#39;, &amp;#39;#&amp;#39;) </haml:loud></li>
      </ul>
      </nav>
